*,*:before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
/* Grid layout of page */
.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 20% 80%;
}
/* Sidebar grid */
.sidebar {
    background-color: #c084fc;
    grid-area: 1 / 1 / 3 / 2;
}
/* Styling for the Dashboard and Logo in Nav Bar */
.logo-icon {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-left: 5%;
}

.grid-svg {
    width: 20%;
    height: auto;
    fill: white;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
/* Styling for navigation buttons */

.svg {
    fill: white;
    width: 10%;
}

.navbuttons {
    display: flex;
    align-items: center;
    gap: 5%;
    margin-left: 8%;
}

.buttons {
    margin-bottom: 7%;
}

.bottom {
    margin-top: 50%;
}



.header {
    background-color: #e9d5ff;
}

.main {
    background-color: #f3e8ff;
}

/* link styling */
a {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}



