*,*:before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
/* Grid layout of page */
.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 20% 80%;
}
/* Sidebar grid */
.sidebar {
    background-color: #c084fc;
    grid-area: 1 / 1 / 3 / 2;
}
/* Styling for the Dashboard and Logo in Nav Bar */
.logo-icon {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-left: 5%;
}

.grid-svg {
    width: 20%;
    height: auto;
    fill: white;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
/* Styling for navigation links */

.top {
    margin-top: 33%;
}

.svg {
    fill: white;
    width: 10%;
}

.navbuttons {
    display: flex;
    align-items: center;
    gap: 8%;
    margin-left: 8%;
}

a {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline;
}

.buttons {
    margin-bottom: 10%;
}

.bottom {
    margin-top: 50%;
}

/* ---------------------------------------- */

header {
    background-color: #e9d5ff;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
}
/* styling for search button and input */
.search {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.searchbutton {
    width: 5%;
    height: 30%;
}

.searchsvg {
    fill: black;
    width: 100%;
    height: 100%;
}

.search-input {
    background-color: #f3e8ff;
    border: 2px solid transparent;
    border-radius: 20px 20px 20px 20px;
    height: 30%;
    width: 70%;
    padding: 2%;
}
/* styling for notifications, logo, and name */
.notifs {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.notif-icon {
    height: 50%;
    width: 5%;
}

.notif-svg {
    fill: black;
    width: 100%;
    height: 100%;
}

.moomin {
    width: 10%;
    height: 60%;
    border-radius: 50%;
}

.name {
    color: black;
    font-weight: bold;
}

main {
    background-color: #f3e8ff;
    grid-area: 2 / 2 / 3 / 3;
}






